<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myratp">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.timetable.metrolines.MetroTimeActivity" />
        <activity android:name=".ui.timetable.buslines.BusTimeActivity" />
        <activity android:name=".ui.timetable.metrolines.MetroStationsActivity" />

        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".ui.timetable.trainlines.TrainTimeActivity" />
        <activity android:name=".ui.timetable.trainlines.TrainStationsActivity" />
        <activity android:name=".ui.timetable.buslines.BusStationsActivity" />
        <activity android:name=".ui.timetable.metrolines.MetroSchedulesActivity" />
        <activity android:name=".ui.timetable.buslines.BusSchedulesActivity" />
        <activity android:name=".ui.TrafficActivity" />
        <activity android:name=".MetroPlansActivity" />
        <activity android:name=".BusPlansActivity" />
        <activity android:name=".ui.timetable.trainlines.TrainScheduleActivity" />
        <activity android:name=".TrainPlansActivity" />
        <activity android:name=".ui.ErreurTrainLine" />
        <activity android:name=".ui.QrCodeActivity" />
        <activity android:name=".ui.timetable.tramlines.TramTimeActivity" />
        <activity android:name=".TramPlansActivity" />
        <activity android:name=".ui.timetable.tramlines.TramStationsActivity" />
        <activity android:name=".ui.timetable.tramlines.TramSchedulesActivity" />
        <activity android:name=".ui.timetable.noctilien.NoctilienTimeActivity" />
        <activity android:name=".NoctiPlansActivity" />
        <activity android:name=".ui.timetable.noctilien.NoctilienStationsActivity" />
        <activity android:name=".ui.timetable.noctilien.NoctilienSchedulesActivity" />
    </application>

</manifest>